#sessionsheader
  #sessions_header_content.container_24
    #flash
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    #logo
      = image_tag("logo.png", :alt => "HotSeats.co Logo")
    #social
      - if current_employer
      - #= image_tag current_employer.logo.url
        Employers:
        \#{link_to "My Jobs", myjobs_path}
        \#{link_to "Logout", destroy_employer_session_path, :method=>:delete}
      - else
      - unless current_employer
        - if current_applicant
          = link_to "Logout", destroy_applicant_session_path, :method=>:delete
        - else
          Job Seekers:
          \#{link_to "Login", new_applicant_session_path}
          \#{link_to "Signup", new_applicant_registration_path}
      = link_to image_tag("facebook.png", :alt => "facebook small logo"), 'http://www.facebook.com'
      = link_to image_tag("twitter.png", :alt => "facebook small logo"), 'http://www.twitter.com'
      = link_to image_tag("google-plus.png", :alt => "facebook small logo"), 'http://plus.google.com/'
    .clear
    #logintitle.grid_18.push_3
      %h2 Resend confirmation instructions