	
<% if is_admin? == true %>


<%= @applicantid %>

<%= @applicant %>

<h1> Applicants awaiting approval </h1>

	<% @notapproved.each do |na| %>

		<%= na.name %> 
		<p>
		<%= na.city %> 
		<p>
		<%= na.website %>
		<p>
		<%= na.email %>
		<p>
		<%= na.resume %>
		<p>
		<%= na.created_at %>
		<p>

		
	


<%= link_to("approve applicant", approver_path(@applicant), :method => :put, :confirm => "are you sure?") %>

		
	<% end %>
<% elsif current_applicant  %>
	Not Authorised - You are an applicant
	<% else %>
	Not Authorised - You are not logged in
<% end %>


	




