<%= render "layouts/header" %>
<div id="wrapper" class="container_24">	
<div id= "pagetitle">	
	<h2>Approve Job Seeker Profiles</h2>
</div>

<% if is_admin? == true %>


	<% @notapproved.each do |na| %>
	<div id="approvalbox">
		<h6>Applicant name:</h6>
		<p>
	
		<%= na.name %> 
		<p>
		<h6>Location:</h6>
		<p>
		<%= na.city %> 
		<p>
		<%= na.website %>
		<p>
		<h6>Email:</h6>
		<p>
		<%= na.email %>
		<p>
		<h6>Resume:</h6>
		<p>
		<%= link_to "Curriculum Vitae Download", "#{na.resume}" %>
		<h6>Account created date</h6>
		<p>
		<%= na.created_at %>
		<p>

		
	

		<div id= "approvebutton">
		<h5><%= link_to("Approve Job Seeker", ap_path(na.id), :method => :put, :confirm => "Are you sure you want to approve this Job Seeker?") %></h5>
		</div>

	</div>	
	<% end %>

<% elsif current_applicant  %>
	Not Authorised - You are an applicant
	<% else %>
	Not Authorised
<% end %>

<%= render "layouts/footer" %>


	




