<%= render "layouts/header" %>
<div id="wrapper" class="container_24">
<div id= "pagetitle">	
	<h2><%= @job.title %> applicants:</h2>
</div>

<% @applications.each do |app| %>
<div id="applicantbox">
	<p>
	<h6>Applicant name:</h6>
	<p>
	 <%= app.name %>
	 <p> 
	 <h6>Email:</h6>
	 <p>
	 
	<%= app.email %>
	 <p> 

	 <p> 
	 <h6>Location:</h6>
	 <p>
	 <%= app.city %>
	 <p>
	 <h6>Website:</h6>
	 <p>
	 <%= app.website %>
	 <p>
	 <h6>Resume:</h6>

	 <%= link_to "Curriculum Vitae Download", "#{app.resume}" %>
	 <p> 
	<h6>Applied date</h6>
	 <p> 
	 <%= app.created_at %>

</div>	
 

 <% end %>

 <%= render "layouts/footer" %>




