= debug current_applicant

%h1 job view
%p#notice= notice

%p
  %b Company Name
  = @job.employer.company_name
%p
  %b Job Title:
  = @job.title
%p
  %b Location:
  = @job.location
%p
  %b Position Type:
  = @job.position_type
%p
  %b Job Description:
  = @job.description 
%p
  %b How to Apply:
  = @job.info
%p
  %b Company Website:
  = @job.employer.website 
%p
  %b Company Logo:
  = image_tag @job.employer.logo

  -if current_applicant && current_applicant.approved == true
    =link_to "Apply to this job"
  -elsif current_applicant
    You are not approved yet
  -else
  You need to sign up to apply for jobs


