= render "layouts/header"
#wrapper.container_24
  #jobcontainer.grid_17
    #viewjob 
      %p
        #notice= notice
        
        %h1= @job.title
      %p
        
        = @job.employer.company_name
      %p  
        = image_tag @job.employer.logo
      %p  
        %b Location:
        = @job.location
      %p
        %b Position Type:
        = @job.position_type
      %p
        %b Job Description:
      %p 
        = raw sanitize(simple_format(@job.description), :tags => %w(br p) )
      %p
        %b How to Apply:
      %p 
        = raw sanitize(simple_format(@job.info), :tags => %w(br p) )
      %p
        %b Company Website:
        = @job.employer.website 
      %p
      
        



      -if current_applicant && current_applicant.approved == true
        =link_to "Apply for this job", apply_path(@job) unless current_applicant.applied_to?(@job) 
      -elsif current_applicant
        You are not approved yet
      -else
        You need to sign up to apply for jobs

  #sidebar.grid_7
    .sidebarheader
      %h3 100% Satisfaction Guarantee
    .sidebarline
    .sidebar_content
      %p
        Post your job on HotSeats.co and if you're
        not completely satisfied with the results
        you receive simply contact us for a full
        and courteous refund
    .sidebarheader
      %h3 A few of the future customers of HotSeats
    
      = image_tag("clients.png", :alt => "clients")
      %h3 Post a Job
      .sidebarline
      .sidebar_content
        %p Post a job with HotSeats.co today for guaranteed recruitment satisfaction.
      .redbutton_sidebar
        .buttontext= link_to 'Post Job', new_jobs_path
  .clear
  =render "layouts/footer"


