= render "employers/shared/reset_employer_header"
#loginwrapper.container_24
  .logincontainer.grid_18.push_3
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      %div
        = f.label :email
        %br/
        = f.email_field :email, :autofocus => true
      %div= f.submit "Send me reset password instructions"
    #link_container{:style => "blacklink"}
      = render "applicants/shared/links"