-#sidebar.grid_7
  .sidebarheader
    %h3 A few of the future customers of HotSeats
  .sidebarline
  %h3 Post a Job
  .sidebarline
  .sidebar_content
    %p Post a job with HotSeats.co today for guaranteed recruitment satisfaction.
  .redbutton_sidebar
    .buttontext= link_to 'Post Job'
.clear


#footer.container_24
  %ol
    %li= link_to "Jobs", root_path

  .vertline
  %ol
    %li Job Seekers
    %li= link_to "Sign Up", new_applicant_registration_path
    %li= link_to "Login", new_applicant_session_path 
    %li
  .vertline
  %ol
    %li Employers
    %li= link_to "Login", new_employer_session_path 
    %li= link_to "Guarantee", guarantee_path
   
  .vertline
  %ol
    %li About
    %li= link_to "Contact", contact_path
  .vertline
  %ol
    %a{:href => "/blog"} Blog
    
.space

