<%= render "employers/shared/resend_employer_header" %>
<div id="loginwrapper" class="container_24">
	<div class="logincontainer grid_18 push_3">

		<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, :autofocus => true %></div>

		  <div><%= f.submit "Resend confirmation instructions" %></div>
		<% end %>
		<p>

	</div>
</div>		
